<!DOCTYPE html>
<html>
  <head>
    <title><%= ENV["APP_NAME"] %></title>
    <!--CSRF対策について下の行で記述されている。-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--Font Awesomeを使用する。-->
    <script src="https://kit.fontawesome.com/fdd87a2db4.js" crossorigin="anonymous"></script>

  </head>

  <body>
   <!--render使って_headerに分ける。-->
    <%= render partial: 'layouts/header' %>
    
    <main class="py-4 mb-5">
      <% if notice %><p class="alert alert-warning"><%= notice %></div><% end %>
      <% if alert %><p class="alert alert-danger"><%= alert %></p><% end %>
      <%= yield %>
    </main>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
